body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.canvas {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 8px;
}

p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
}

.btn {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    color: white;
    background-color: #222;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btn:hover {
    background-color: white;
    color: #222;
}