* {
  margin: 20;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  display: grid;
  place-items: center;  
  background-size: cover;
  text-align: center;
}
ul.nav.bg-info {
  margin: -15px;
  padding: 0;
  border-radius: 10px;
}
.content {
  width: 400px;
  padding: 75px 30px;
  background: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}
.content .text {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 0px;
  color: #595959;
}
.field {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}

.field:nth-child(2) {
  margin-top: 20px;
}

.field input {
  height: 100%;
  width: 100%;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: #dde1e7;
  color: #595959;
  border-radius: 20px;
  box-shadow: inset 2px 2px 5px #6b8bff, inset -10px -10px 10px #ffffff73;
}

.field input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff73;
}

.field span {
  position: absolute;
  color: #595959;
  width: 50px;
  line-height: 50px;
}
.field label {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  left: 30%;
  pointer-events: none;
  color: #666666;
}
.field input:valid ~ label {
  opacity: 0;
}
.forgot-pass a {
  margin: 0;
  font-size: 15px;
  color: #7b7a7a;
  text-decoration: none;
}
.forgot-pass:hover a {
  text-decoration: underline;
  color: red;
}
.btn {
  width: 100%;
  height: 40px;
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
  outline: none;
  color: #595959;
  box-shadow: 5px 5px 10px #86a0ff, -5px -5px 10px #fe595973;
}
.btn:focus {
  color: #3498db;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}
.signup {
  margin: 15px 20px;
  color: #595959;
  font-size: 14px;
  font-weight: 600;
}
.signup a {
  text-decoration: none;
}
.signup a:hover {
  color: red;
  text-decoration: underline;
}
